{% extends 'user.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>

</style>

<div class="container">
    <div class="card shadow-1 p-5">
        <div class="card-header h1">
            Profile de {{app.user.lastName}} {{app.user.firstName}}
        </div>
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success p-3 my-2 rounded-2 success" role="alert">{{ flash }}</div>
        {% endfor %}
        <div class="grix xs5 card-content">
            {#  First Name #}
            <div class="col-xs1 my-2">Prénom  </div>
            <div class="col-xs1 my-2">:</div>
            <div class="col-xs3 my-2"> {{app.user.firstName}} </div>
            {#  Last Name #}
            <div class="col-xs1 my-2">Nom </div>
            <div class="col-xs1 my-2">:</div>
            <div class="col-xs3 my-2">{{app.user.lastName}} </div>

            {#  Email #}
            <div class="col-xs1 my-2">Email </div>
            <div class="col-xs1 my-2">:</div>
            <div class="col-xs3 my-2">{{app.user.email}} </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('modifier_profile')}} " class="btn rounded-1 blue press mr-5">modifier le profile</a>
            <a href="#" class="btn rounded-1 blue press mr-5">modifier l'email</a>
            <a href="{{ path('modifier_password')}} " class="btn rounded-1 blue press">modifier le mot de passe</a>
        </div>
    </div>
    <div class="card shadow-1 p-2">
        <div class="card-header h1">
            les annonces de  {{app.user.lastName}} {{app.user.firstName}}
        </div>
        <div class="grix xs6 card-content">

            {% for annonce in app.user.annonces %}
                {#  titre d'annonce #}
                <div class="col-xs1 my-2">{{annonce.title}} :</div>
                {#  le contenu d'annonce #}
                <div class="col-xs5 my-2"> {{annonce.content}} </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            
        </div>
    </div>
</div>

</div>

{% endblock %}